<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119151262121-pd97bk0oc780um2mftk0qc2kihd9u02i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119151262121-pd97bk0oc780um2mftk0qc2kihd9u02i</string>
	<key>API_KEY</key>
	<string>AIzaSyCcuuuBcDn6KoIRv2bLpG2YQBg01t6AwZo</string>
	<key>GCM_SENDER_ID</key>
	<string>119151262121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.secrieruandrei.IalovMobila</string>
	<key>PROJECT_ID</key>
	<string>ialovmobila-14626</string>
	<key>STORAGE_BUCKET</key>
	<string>ialovmobila-14626.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119151262121:ios:f58e9e24cbcff75fe3ecb8</string>
</dict>
</plist>